.logo{
	border-radius: 50%;
	width: 100% !important;
}
body{
	background-image: url("https://raw.githubusercontent.com/dirtlordthezombieking/dirtlordthezombieking.github.io/main/assets/images/background.png");
}
